.card {
    transition: all 0.3s linear;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.card:hover {
    transform: translateY(-3px);
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}